html {
    /* link da imagem: "https://br.freepik.com/fotos-vetores-gratis/negocio" - Negócio foto criado por master1305 - br.freepik.com */
    background-image: url("../imagens/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}