* {
    margin: 0 auto;
    padding: 0;
}

html {
    overflow-x: hidden;
}

main {
    background-image: url("../imagens/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

@font-face {
    font-family: "FearlessQueen-7BveB";
    src: url("../fontes/FearlessQueen-7BveB.otf");
}

.titulo {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px rgb(235, 212, 11);
}

.titulo:hover {
    color: rgb(235, 212, 11);
    text-shadow: 2px 2px white;
}

main h1 {
    font-family: "FearlessQueen-7BveB";
    position: relative;
    top: 40px;
    left: 780px;
    font-size: 12em;
}

main h3 {
    font-family: "FearlessQueen-7BveB";
    position: relative;
    top: 10px;
    left: 280px;
    font-size: 4em;
    color: white;
    text-shadow: 1px 1px rgb(235, 212, 11);
}

main h3 span {
    color: rgb(235, 212, 11);
    text-shadow: 1px 1px white;
}

.tituloWidht {
    width: 35%;
}

.botao {
    position: relative;
    top: 10px;
    left: 820px;
    width: 22%;
    border-color: rgb(235, 212, 11);
    color: aliceblue;
    font-family: "FearlessQueen-7BveB";
    font-size: 2em;
    border-radius: 25px;
    margin-bottom: 15%;
}

.botao:hover {
    color: rgb(235, 212, 11);
    border-color: white;
}

.planos {
    background-color: black;
    color: white;
    height: 100%;
    padding: 2%;
}

.displayPlano {
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
}

.divPlano {
    border: 1px solid gold;
    width: 27%;
    padding: 2%;
    height: 350px;
}

.tituloPlano {
    font-family: "FearlessQueen-7BveB";
    font-size: 3.5em;
    text-align: center;
}

.divPlano h2 span {
    color: rgb(145, 131, 9);
    text-shadow: 1px 1px white;
}

.valorPlano1 {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: rgb(145, 131, 9);
    text-shadow: 1px 1px white;
    position: relative;
    top: 70px;
}

.valorPlano2 {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: rgb(145, 131, 9);
    text-shadow: 1px 1px white;
    position: relative;
    top: 25px;
}

.valorPlano3 {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: rgb(145, 131, 9);
    text-shadow: 1px 1px white;
    position: relative;
    top: 5px;
}

.valorPlano1 span {
    color: white;
    text-shadow: 1px 1px black;
}

.valorPlano2 span {
    color: white;
    text-shadow: 1px 1px black;
}

.valorPlano3 span {
    color: white;
    text-shadow: 1px 1px black;
}

.sectionFormulário {
    background-color: white;
    padding: 2%;
    display: flex;
}

.divFormulario {
    
    width: 45%;
    padding: 2%;
}

.tituloFormulario {
    font-family: "FearlessQueen-7BveB";
    font-size: 3em;
    text-shadow: 1px 1px goldenrod;
}

.divFormulario label {
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 1.2em;
    font-weight: bold;
    color: goldenrod;
    text-shadow: 1px 1px black;
}

.divFormulario input {
    width: 90%;
    padding: 0.5%;
    border-color: goldenrod;
}

.divFormulario select {
    margin-bottom: 5%;
    padding: 0.5%;
    width: 50%;
    border-color: goldenrod;
}